


<div class="row">
 <div class="col-sm-8 col-sm-push-1">
   <p><%= @post.errors.full_messages.join(',') %></p>
  <h4 id="border-box">Create a Post...</h4>
   <%= form_for [@post] do |f| %>
   <%= f.text_field :title, class: 'form-control', placeholder: "Your title..." %> <br>
  <div class="form-group form-group-lg">

     <%= f.text_area :body, class: 'form-control', placeholder: "Your awesome post..."%>

     <%= f.collection_select :category_id, Category.all, :id, :name, class: 'form-control' %>
     <%= f.submit 'send', class: 'btn btn-lg btn-custom' %>
   </div>
   <% end %>
 </div>
</div>
