<div class="container">
  <br><br>
  <div class="row">


    <div class="col-xs-12 col-sm-10 col-md-8 col-md-push-2">

        <p>
          <%= @post.body %>
        </p>

        <br>
        <div class="row">
         <div class="col-xs-8 col-sm-8 col-md-8">
           <h4>
             <span>
               <%= @post.category.name %>
             </span>
           </h4>
          </div>
          <div class="col-xs-4 col-sm-4">
            <h4 style="float: right;">
              <span>
                    <%= @post.created_at.strftime("%Y-%m-%d") %>
              </span>
            </h4>
          </div> <!-- col -->
        </div> <!-- row --> <br>
        <div class="row">
           <% if can?(:manage, @post) %>
            <%= link_to 'Edit', edit_post_path(@post) %>
            <%= link_to 'Delete', post_path(@post),
                                  method: :delete,
                                  data: { confirm: 'Are you sure?' } %>

           <% end %>
        </div>

        <div class="row">
         <div class="col-xs-4 col-sm-4">
           <div class="blog">
             <div class="image_wrapper">
                 <img src="https://pbs.twimg.com/profile_images/608008626897166337/JLoiFMIw.jpg" alt="">
             </div>
           </div>
         </div>

         <div class="col-xs-8 col-sm-5">
          <h4>
            <u>
               <%= @post.user.full_name %>
            </u>
          </h4>
          <p>
            <%= Faker::Lorem.sentence(7) %>
          </p>
         </div>
        </div> <!-- row -->


      <div class="row">
       <div class="col-sm-8 col-sm-push-1">
        <h4 id="border-box">Leave a comment...</h4>
         <%= form_for [@post, @comment] do |f| %>
        <div class="form-group form-group-lg">
		       <%= f.text_area :body, class: 'form-control', placeholder: "Your amazing comment..."%>
			     <%= f.submit 'send', class: 'btn btn-lg btn-custom' %>
		     </div>
         <% end %>
       </div>
     </div>

      <br><hr><br>

      <div class="row">
        <div class="col-sm-12">
          <%= @comment.errors.full_messages.join(', ') %>

          <% @post.comments.each do |com| %>
          <div class="row">
           <div class="col-xs-4 col-sm-3">
             <div class="blog">
               <div class="image_wrapper">
                   <img src="https://pbs.twimg.com/profile_images/608008626897166337/JLoiFMIw.jpg" alt="">
               </div>
             </div>
           </div>

           <div class="col-xs-8 col-sm-9">
            <p>
              <%= com.body %>
            </p>
           </div>
          </div> <!-- row -->

          <div class="row">
           <div class="col-xs-8 col-sm-8 col-md-8">
             <h4>
               <span>
                 <%= Faker::Name.name %>
               </span>
             </h4>
            </div>
            <div class="col-xs-4 col-sm-4">
              <h4 style="float: right;">
                <span>
                      <%= com.created_at.strftime("%Y-%m-%d") %>
                </span>
              </h4>
            </div> <!-- col -->
          </div> <!-- row -->
          <% if can?(:manage, @post) %>
          <%= link_to 'delete', comment_path(com),
                                  method: :delete,
                                  data: { confirm: 'Are you sure?'} %>

              <% if com != @post.comments.last %>
                <hr /> <!-- underline all posts, except last one -->
              <% end %>

            <% end %> <!-- if can? -->

          <% end %>

    </div>
  </div>
</div> <!-- container -->

<br><br><br>
