<!-- Main jumbotron for a primary marketing message or call to action -->

      <div class="container" style="padding-top: 25px;">
        <div class="row">


          <div class="col-sm-8">
            <div class="blog">
              <div class="image_wrapper">
                  <img src="http://www.travelzoo.com/uk/blog/wp-content/uploads/2016/04/tzoo.blog_.uk_.Trolltunga.jpg" alt="">
              </div>
              <div class="row">
               <div class="col-xs-8">
                 <h5>
                   <span>
                     <i class="fa fa-heart-o" aria-hidden="true"></i>
                   </span>
                   <%= Faker::Number.number(2) %>
                 </h5>
                </div>
                <div class="col-xs-4">
                  <h5 style="float: right;">
                    <span>
                      <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                    </span>
                  </h5>
                </div> <!-- col -->
              </div> <!-- row -->

              <div class="row">
                <div class="col-sm-12">
                  <h3>
                    <%= Faker::Lorem.word %>
                  </h3>
                </div>
              </div>

              <p>
                <%= Faker::Lorem.sentence(12) %>
              </p>

              <p>
                <a href="#" class="date-name">
                  <u><%= Faker::Name.name %></u>
                </a>
              </p>
              <p class="date-name">
                  <%= Faker::Date.backward(14) %>
              </p>
            </div>
          </div>

          <div class="col-sm-4">
            <h3>Most liked</h3>
              <p><a href="#"><u><%= Faker::Hipster.sentence(1) %></u></a></p>
              <p><a href="#"><u><%= Faker::Hipster.sentence(1) %></u></a></p>
              <p><a href="#"><u><%= Faker::Hipster.sentence(1) %></u></a></p>
              <p><a href="#"><u><%= Faker::Hipster.sentence(1) %></u></a></p>
              <p><a href="#"><u><%= Faker::Hipster.sentence(1) %></u></a></p>
              <p><a href="#"><u><%= Faker::Hipster.sentence(1) %></u></a></p>
          </div>
        </div> <!-- row -->

      </div> <!-- container -->


    <div class="container">

      <div class="row">

        <div class="col-md-4">
          <div class="blog">
            <div class="image_wrapper">
                <img src="https://pbs.twimg.com/profile_images/608008626897166337/JLoiFMIw.jpg" alt="">
            </div>
            <div class="row">
             <div class="col-xs-8">
               <h5>
                 <span>
                   <i class="fa fa-heart-o" aria-hidden="true"></i>
                 </span>
                 <%= Faker::Number.number(2) %>
               </h5>
              </div>
              <div class="col-xs-4">
                <h5 style="float: right;">
                  <span>
                    <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                  </span>
                </h5>
              </div> <!-- col -->
            </div> <!-- row -->

            <div class="row">
              <div class="col-sm-12">
                <h3>
                  <%= Faker::Lorem.word %>
                </h3>
              </div>
            </div>

            <p>
              <%= Faker::Lorem.sentence(12) %>
            </p>

            <p>
              <a href="#" class="date-name">
                <u><%= Faker::Name.name %></u>
              </a>
            </p>
            <p class="date-name">
                <%= Faker::Date.backward(14) %>
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog">
            <div class="image_wrapper">
                <img src="https://pbs.twimg.com/profile_images/608008626897166337/JLoiFMIw.jpg" alt="">
            </div>
            <div class="row">
             <div class="col-xs-8">
               <h5>
                 <span>
                   <i class="fa fa-heart-o" aria-hidden="true"></i>
                 </span>
                 <%= Faker::Number.number(2) %>
               </h5>
              </div>
              <div class="col-xs-4">
                <h5 style="float: right;">
                  <span>
                    <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                  </span>
                </h5>
              </div> <!-- col -->
            </div> <!-- row -->

            <div class="row">
              <div class="col-sm-12">
                <h3>
                  <%= Faker::Lorem.word %>
                </h3>
              </div>
            </div>

            <p>
              <%= Faker::Lorem.sentence(12) %>
            </p>

            <p>
              <a href="#" class="date-name">
                <u><%= Faker::Name.name %></u>
              </a>
            </p>
            <p class="date-name">
                <%= Faker::Date.backward(14) %>
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog">
            <div class="image_wrapper">
                <img src="https://pbs.twimg.com/profile_images/608008626897166337/JLoiFMIw.jpg" alt="">
            </div>
            <div class="row">
             <div class="col-xs-8">
               <h5>
                 <span>
                   <i class="fa fa-heart-o" aria-hidden="true"></i>
                 </span>
                 <%= Faker::Number.number(2) %>
               </h5>
              </div>
              <div class="col-xs-4">
                <h5 style="float: right;">
                  <span>
                    <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                  </span>
                </h5>
              </div> <!-- col -->
            </div> <!-- row -->

            <div class="row">
              <div class="col-sm-12">
                <h3>
                  <%= Faker::Lorem.word %>
                </h3>
              </div>
            </div>

            <p>
              <%= Faker::Lorem.sentence(12) %>
            </p>

            <p>
              <a href="#" class="date-name">
                <u><%= Faker::Name.name %></u>
              </a>
            </p>
            <p class="date-name">
                <%= Faker::Date.backward(14) %>
            </p>
          </div>
        </div>

    </div> <!-- row -->

    <div class="row">

      <div class="col-md-4">
        <div class="blog">
          <div class="image_wrapper">
              <img src="https://pbs.twimg.com/profile_images/608008626897166337/JLoiFMIw.jpg" alt="">
          </div>
          <div class="row">
           <div class="col-xs-8">
             <h5>
               <span>
                 <i class="fa fa-heart-o" aria-hidden="true"></i>
               </span>
               <%= Faker::Number.number(2) %>
             </h5>
            </div>
            <div class="col-xs-4">
              <h5 style="float: right;">
                <span>
                  <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                </span>
              </h5>
            </div> <!-- col -->
          </div> <!-- row -->

          <div class="row">
            <div class="col-sm-12">
              <h3>
                <%= Faker::Lorem.word %>
              </h3>
            </div>
          </div>

          <p>
            <%= Faker::Lorem.sentence(12) %>
          </p>

          <p>
            <a href="#" class="date-name">
              <u><%= Faker::Name.name %></u>
            </a>
          </p>
          <p class="date-name">
              <%= Faker::Date.backward(14) %>
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog">
          <div class="image_wrapper">
              <img src="https://pbs.twimg.com/profile_images/608008626897166337/JLoiFMIw.jpg" alt="">
          </div>
          <div class="row">
           <div class="col-xs-8">
             <h5>
               <span>
                 <i class="fa fa-heart-o" aria-hidden="true"></i>
               </span>
               <%= Faker::Number.number(2) %>
             </h5>
            </div>
            <div class="col-xs-4">
              <h5 style="float: right;">
                <span>
                  <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                </span>
              </h5>
            </div> <!-- col -->
          </div> <!-- row -->

          <div class="row">
            <div class="col-sm-12">
              <h3>
                <%= Faker::Lorem.word %>
              </h3>
            </div>
          </div>

          <p>
            <%= Faker::Lorem.sentence(12) %>
          </p>

          <p>
            <a href="#" class="date-name">
              <u><%= Faker::Name.name %></u>
            </a>
          </p>
          <p class="date-name">
              <%= Faker::Date.backward(14) %>
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog">
          <div class="image_wrapper">
              <img src="https://pbs.twimg.com/profile_images/608008626897166337/JLoiFMIw.jpg" alt="">
          </div>
          <div class="row">
           <div class="col-xs-8">
             <h5>
               <span>
                 <i class="fa fa-heart-o" aria-hidden="true"></i>
               </span>
               <%= Faker::Number.number(2) %>
             </h5>
            </div>
            <div class="col-xs-4">
              <h5 style="float: right;">
                <span>
                  <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                </span>
              </h5>
            </div> <!-- col -->
          </div> <!-- row -->

          <div class="row">
            <div class="col-sm-12">
              <h3>
                <%= Faker::Lorem.word %>
              </h3>
            </div>
          </div>

          <p>
            <%= Faker::Lorem.sentence(12) %>
          </p>

          <p>
            <a href="#" class="date-name">
              <u><%= Faker::Name.name %></u>
            </a>
          </p>
          <p class="date-name">
              <%= Faker::Date.backward(14) %>
          </p>
        </div>
      </div>

  </div> <!-- row -->

  <div class="row">

    <div class="col-md-4">
      <div class="blog">
        <div class="image_wrapper">
            <img src="https://pbs.twimg.com/profile_images/608008626897166337/JLoiFMIw.jpg" alt="">
        </div>
        <div class="row">
         <div class="col-xs-8">
           <h5>
             <span>
               <i class="fa fa-heart-o" aria-hidden="true"></i>
             </span>
             <%= Faker::Number.number(2) %>
           </h5>
          </div>
          <div class="col-xs-4">
            <h5 style="float: right;">
              <span>
                <i class="fa fa-bookmark-o" aria-hidden="true"></i>
              </span>
            </h5>
          </div> <!-- col -->
        </div> <!-- row -->

        <div class="row">
          <div class="col-sm-12">
            <h3>
              <%= Faker::Lorem.word %>
            </h3>
          </div>
        </div>

        <p>
          <%= Faker::Lorem.sentence(12) %>
        </p>

        <p>
          <a href="#" class="date-name">
            <u><%= Faker::Name.name %></u>
          </a>
        </p>
        <p class="date-name">
            <%= Faker::Date.backward(14) %>
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="blog">
        <div class="image_wrapper">
            <img src="https://pbs.twimg.com/profile_images/608008626897166337/JLoiFMIw.jpg" alt="">
        </div>
        <div class="row">
         <div class="col-xs-8">
           <h5>
             <span>
               <i class="fa fa-heart-o" aria-hidden="true"></i>
             </span>
             <%= Faker::Number.number(2) %>
           </h5>
          </div>
          <div class="col-xs-4">
            <h5 style="float: right;">
              <span>
                <i class="fa fa-bookmark-o" aria-hidden="true"></i>
              </span>
            </h5>
          </div> <!-- col -->
        </div> <!-- row -->

        <div class="row">
          <div class="col-sm-12">
            <h3>
              <%= Faker::Lorem.word %>
            </h3>
          </div>
        </div>

        <p>
          <%= Faker::Lorem.sentence(12) %>
        </p>

        <p>
          <a href="#" class="date-name">
            <u><%= Faker::Name.name %></u>
          </a>
        </p>
        <p class="date-name">
            <%= Faker::Date.backward(14) %>
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="blog">
        <div class="image_wrapper">
            <img src="https://pbs.twimg.com/profile_images/608008626897166337/JLoiFMIw.jpg" alt="">
        </div>
        <div class="row">
         <div class="col-xs-8">
           <h5>
             <span>
               <i class="fa fa-heart-o" aria-hidden="true"></i>
             </span>
             <%= Faker::Number.number(2) %>
           </h5>
          </div>
          <div class="col-xs-4">
            <h5 style="float: right;">
              <span>
                <i class="fa fa-bookmark-o" aria-hidden="true"></i>
              </span>
            </h5>
          </div> <!-- col -->
        </div> <!-- row -->

        <div class="row">
          <div class="col-sm-12">
            <h3>
              <%= Faker::Lorem.word %>
            </h3>
          </div>
        </div>

        <p>
          <%= Faker::Lorem.sentence(12) %>
        </p>

        <p>
          <a href="#" class="date-name">
            <u><%= Faker::Name.name %></u>
          </a>
        </p>
        <p class="date-name">
            <%= Faker::Date.backward(14) %>
        </p>
      </div>
    </div>
  </div> <!-- row -->

</div> <!-- container -->
