<div class="container">
  <div class="row">
   <div class="col-xs-12 col-sm-10 col-md-8 col-md-push-2">
     <h3>
       <%= Faker::Lorem.word %>
       <i class="fa fa-heart-o" aria-hidden="true"></i>


         <%= Faker::Number.number(2) %> |
         <i class="fa fa-bookmark-o" aria-hidden="true"></i>

     </h3>


   </div> <!-- col -->
  </div> <!-- row -->


  <div class="row">
   <div class="col-xs-12 col-sm-10 col-md-8 col-md-push-2">
     <h5>
       <span>
         <i class="fa fa-heart-o" aria-hidden="true"></i>
       </span>
       <%= Faker::Number.number(2) %>
     </h5>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-pull-2">
      <h5 style="float: right;">
        <span>
          <i class="fa fa-heart-o" aria-hidden="true"></i>
          <%= Faker::Number.number(2) %> |
          <i class="fa fa-bookmark-o" aria-hidden="true"></i>
        </span>
      </h5>
    </div> <!-- col -->
  </div> <!-- row -->

</div> <!-- container -->

<div class = "jumbotron">

   <div class = "container">
      <h1>
        <%= Faker::Lorem.word %>
      </h1>

      <p>
        <%= Faker::Lorem.paragraph(3) %>
      </p>
   </div>

</div>


<div class="container">
  <br><br>
  <div class="row">


    <div class="col-xs-12 col-sm-10 col-md-8 col-md-push-2">
        <h3>
          <%= Faker::Lorem.word %>
        </h3>
        <p>
          <%= Faker::Lorem.paragraph(22) %>
        </p>

        <p>
          <%= Faker::Lorem.paragraph(26) %>
        </p>

        <h3>
          <%= Faker::Lorem.word %>
        </h3>
        <p>
          <%= Faker::Lorem.paragraph(20) %>
        </p>

        <p>
          <%= Faker::Lorem.paragraph(18) %>
        </p>
        <h3>
          <%= Faker::Lorem.word %>
        </h3>
        <p>
          <%= Faker::Lorem.paragraph(10) %>
        </p>

        <p>
          <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8 col-md-push-2">
              <a href="#" class="date-name">
                <u><%= Faker::Name.name %></u>
              </a>
            </p>
            <p class="date-name">
                <%= Faker::Date.backward(14) %>
            </p>
            </div>
          </div>
      </div>
  </div> <!-- row -->

</div> <!-- container -->


<div class="container">

<div class="row">

  <div class="col-md-4">
    <div class="blog">
      <div class="image_wrapper">
          <img src="https://pbs.twimg.com/profile_images/608008626897166337/JLoiFMIw.jpg" alt="">
      </div>
      <div class="row">
       <div class="col-xs-8">
         <h5>
           <span>
             <i class="fa fa-heart-o" aria-hidden="true"></i>
           </span>
           <%= Faker::Number.number(2) %>
         </h5>
        </div>
        <div class="col-xs-4">
          <h5 style="float: right;">
            <span>
              <i class="fa fa-bookmark-o" aria-hidden="true"></i>
            </span>
          </h5>
        </div> <!-- col -->
      </div> <!-- row -->

      <div class="row">
        <div class="col-sm-12">
          <h3>
            <%= Faker::Lorem.word %>
          </h3>
        </div>
      </div>

      <p>
        <%= Faker::Lorem.sentence(12) %>
      </p>

      <p>
        <a href="#" class="date-name">
          <u><%= Faker::Name.name %></u>
        </a>
      </p>
      <p class="date-name">
          <%= Faker::Date.backward(14) %>
      </p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="blog">
      <div class="image_wrapper">
          <img src="https://pbs.twimg.com/profile_images/608008626897166337/JLoiFMIw.jpg" alt="">
      </div>
      <div class="row">
       <div class="col-xs-8">
         <h5>
           <span>
             <i class="fa fa-heart-o" aria-hidden="true"></i>
           </span>
           <%= Faker::Number.number(2) %>
         </h5>
        </div>
        <div class="col-xs-4">
          <h5 style="float: right;">
            <span>
              <i class="fa fa-bookmark-o" aria-hidden="true"></i>
            </span>
          </h5>
        </div> <!-- col -->
      </div> <!-- row -->

      <div class="row">
        <div class="col-sm-12">
          <h3>
            <%= Faker::Lorem.word %>
          </h3>
        </div>
      </div>

      <p>
        <%= Faker::Lorem.sentence(12) %>
      </p>

      <p>
        <a href="#" class="date-name">
          <u><%= Faker::Name.name %></u>
        </a>
      </p>
      <p class="date-name">
          <%= Faker::Date.backward(14) %>
      </p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="blog">
      <div class="image_wrapper">
          <img src="https://pbs.twimg.com/profile_images/608008626897166337/JLoiFMIw.jpg" alt="">
      </div>
      <div class="row">
       <div class="col-xs-8">
         <h5>
           <span>
             <i class="fa fa-heart-o" aria-hidden="true"></i>
           </span>
           <%= Faker::Number.number(2) %>
         </h5>
        </div>
        <div class="col-xs-4">
          <h5 style="float: right;">
            <span>
              <i class="fa fa-bookmark-o" aria-hidden="true"></i>
            </span>
          </h5>
        </div> <!-- col -->
      </div> <!-- row -->

      <div class="row">
        <div class="col-sm-12">
          <h3>
            <%= Faker::Lorem.word %>
          </h3>
        </div>
      </div>

      <p>
        <%= Faker::Lorem.sentence(12) %>
      </p>

      <p>
        <a href="#" class="date-name">
          <u><%= Faker::Name.name %></u>
        </a>
      </p>
      <p class="date-name">
          <%= Faker::Date.backward(14) %>
      </p>
    </div>
  </div>

</div> <!-- row -->

<div class="row">

<div class="col-md-4">
  <div class="blog">
    <div class="image_wrapper">
        <img src="https://pbs.twimg.com/profile_images/608008626897166337/JLoiFMIw.jpg" alt="">
    </div>
    <div class="row">
     <div class="col-xs-8">
       <h5>
         <span>
           <i class="fa fa-heart-o" aria-hidden="true"></i>
         </span>
         <%= Faker::Number.number(2) %>
       </h5>
      </div>
      <div class="col-xs-4">
        <h5 style="float: right;">
          <span>
            <i class="fa fa-bookmark-o" aria-hidden="true"></i>
          </span>
        </h5>
      </div> <!-- col -->
    </div> <!-- row -->

    <div class="row">
      <div class="col-sm-12">
        <h3>
          <%= Faker::Lorem.word %>
        </h3>
      </div>
    </div>

    <p>
      <%= Faker::Lorem.sentence(12) %>
    </p>

    <p>
      <a href="#" class="date-name">
        <u><%= Faker::Name.name %></u>
      </a>
    </p>
    <p class="date-name">
        <%= Faker::Date.backward(14) %>
    </p>
  </div>
</div>
<div class="col-md-4">
  <div class="blog">
    <div class="image_wrapper">
        <img src="https://pbs.twimg.com/profile_images/608008626897166337/JLoiFMIw.jpg" alt="">
    </div>
    <div class="row">
     <div class="col-xs-8">
       <h5>
         <span>
           <i class="fa fa-heart-o" aria-hidden="true"></i>
         </span>
         <%= Faker::Number.number(2) %>
       </h5>
      </div>
      <div class="col-xs-4">
        <h5 style="float: right;">
          <span>
            <i class="fa fa-bookmark-o" aria-hidden="true"></i>
          </span>
        </h5>
      </div> <!-- col -->
    </div> <!-- row -->

    <div class="row">
      <div class="col-sm-12">
        <h3>
          <%= Faker::Lorem.word %>
        </h3>
      </div>
    </div>

    <p>
      <%= Faker::Lorem.sentence(12) %>
    </p>

    <p>
      <a href="#" class="date-name">
        <u><%= Faker::Name.name %></u>
      </a>
    </p>
    <p class="date-name">
        <%= Faker::Date.backward(14) %>
    </p>
  </div>
</div>
<div class="col-md-4">
  <div class="blog">
    <div class="image_wrapper">
        <img src="https://pbs.twimg.com/profile_images/608008626897166337/JLoiFMIw.jpg" alt="">
    </div>
    <div class="row">
     <div class="col-xs-8">
       <h5>
         <span>
           <i class="fa fa-heart-o" aria-hidden="true"></i>
         </span>
         <%= Faker::Number.number(2) %>
       </h5>
      </div>
      <div class="col-xs-4">
        <h5 style="float: right;">
          <span>
            <i class="fa fa-bookmark-o" aria-hidden="true"></i>
          </span>
        </h5>
      </div> <!-- col -->
    </div> <!-- row -->

    <div class="row">
      <div class="col-sm-12">
        <h3>
          <%= Faker::Lorem.word %>
        </h3>
      </div>
    </div>

    <p>
      <%= Faker::Lorem.sentence(12) %>
    </p>

    <p>
      <a href="#" class="date-name">
        <u><%= Faker::Name.name %></u>
      </a>
    </p>
    <p class="date-name">
        <%= Faker::Date.backward(14) %>
    </p>
  </div>
</div>

</div> <!-- row -->

<div class="row">

<div class="col-md-4">
<div class="blog">
  <div class="image_wrapper">
      <img src="https://pbs.twimg.com/profile_images/608008626897166337/JLoiFMIw.jpg" alt="">
  </div>
  <div class="row">
   <div class="col-xs-8">
     <h5>
       <span>
         <i class="fa fa-heart-o" aria-hidden="true"></i>
       </span>
       <%= Faker::Number.number(2) %>
     </h5>
    </div>
    <div class="col-xs-4">
      <h5 style="float: right;">
        <span>
          <i class="fa fa-bookmark-o" aria-hidden="true"></i>
        </span>
      </h5>
    </div> <!-- col -->
  </div> <!-- row -->

  <div class="row">
    <div class="col-sm-12">
      <h3>
        <%= Faker::Lorem.word %>
      </h3>
    </div>
  </div>

  <p>
    <%= Faker::Lorem.sentence(12) %>
  </p>

  <p>
    <a href="#" class="date-name">
      <u><%= Faker::Name.name %></u>
    </a>
  </p>
  <p class="date-name">
      <%= Faker::Date.backward(14) %>
  </p>
</div>
</div>
<div class="col-md-4">
<div class="blog">
  <div class="image_wrapper">
      <img src="https://pbs.twimg.com/profile_images/608008626897166337/JLoiFMIw.jpg" alt="">
  </div>
  <div class="row">
   <div class="col-xs-8">
     <h5>
       <span>
         <i class="fa fa-heart-o" aria-hidden="true"></i>
       </span>
       <%= Faker::Number.number(2) %>
     </h5>
    </div>
    <div class="col-xs-4">
      <h5 style="float: right;">
        <span>
          <i class="fa fa-bookmark-o" aria-hidden="true"></i>
        </span>
      </h5>
    </div> <!-- col -->
  </div> <!-- row -->

  <div class="row">
    <div class="col-sm-12">
      <h3>
        <%= Faker::Lorem.word %>
      </h3>
    </div>
  </div>

  <p>
    <%= Faker::Lorem.sentence(12) %>
  </p>

  <p>
    <a href="#" class="date-name">
      <u><%= Faker::Name.name %></u>
    </a>
  </p>
  <p class="date-name">
      <%= Faker::Date.backward(14) %>
  </p>
</div>
</div>
<div class="col-md-4">
<div class="blog">
  <div class="image_wrapper">
      <img src="https://pbs.twimg.com/profile_images/608008626897166337/JLoiFMIw.jpg" alt="">
  </div>
  <div class="row">
   <div class="col-xs-8">
     <h5>
       <span>
         <i class="fa fa-heart-o" aria-hidden="true"></i>
       </span>
       <%= Faker::Number.number(2) %>
     </h5>
    </div>
    <div class="col-xs-4">
      <h5 style="float: right;">
        <span>
          <i class="fa fa-bookmark-o" aria-hidden="true"></i>
        </span>
      </h5>
    </div> <!-- col -->
  </div> <!-- row -->

  <div class="row">
    <div class="col-sm-12">
      <h3>
        <%= Faker::Lorem.word %>
      </h3>
    </div>
  </div>

  <p>
    <%= Faker::Lorem.sentence(12) %>
  </p>

  <p>
    <a href="#" class="date-name">
      <u><%= Faker::Name.name %></u>
    </a>
  </p>
  <p class="date-name">
      <%= Faker::Date.backward(14) %>
  </p>
</div>
</div>
</div> <!-- row -->

</div> <!-- container -->
